 /* #region CSS reset and common styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}
/* #endregion */

/* #region Common styles */
img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    background-color: #fff;
    color: #434455;
}

body:has(.backdrop.is-open) {
    overflow: hidden;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.section {
    padding: 120px 0;
}

/* visually hidden title */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/* #endregion */

/* #region Header */

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
}

.header-navigation {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.contacts-list {
    display: flex;
    align-items: center;
}

.header-logo {
    padding: 24px 0;
    margin-right: 76px;
}

.header-logo .logo-part {
    color: #2e2f42;
}

.nav-link {
    position: relative;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: block;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 4px;
    background-color: #404BBF;
    border-radius: 2px;
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover::after,
.nav-link:focus::after,
.nav-link.current::after {
    opacity: 1;
}

.contacts{
    font-style: normal;
    margin-left: auto;
}

.contacts-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.contacts-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    display: block;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus,
.nav-link.current {
    color: #404bbf;
}
/* #endregion */

/* #region Hero section */

.hero {
    padding: 188px 0;
    max-width: 1440px;
    margin: 0 auto;
    color: #FFF;
    text-align: center;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
    url("../images/hero/background.jpg");
    background-color: #2E2F42;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-title {
    font-size: 56px;
    font-weight: bold;
    line-height: 1.07;
    /* 60px / 56px */
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 48px;
    max-width: 496px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.button{
    background-color: #4D5AE5;
    font-family: inherit;
    color: #FFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
    background-color: #404bbf;
}
/* #endregion */

/* #region Benefits section */

.benefits {
    display: flex;
    gap: 24px;
}

.benefits-item {
    flex-basis: calc((100% - 3*24px) / 4);
}

.icon-block {
    display: flex;
    border: 1px solid #8E8F99;
    background-color: #F4F4FD;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
}

.benefits-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
/* #endregion */

/* #region Team section */
.team {
    background-color: #F4F4FD;
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-item {
    background-color: #fff;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    flex-basis: calc((100% - 3*24px) / 4);
    border-radius: 0 0 4px 4px;
}

.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.team-position {
    text-align: center;
}

.img-info {
    padding: 32px 0;
    text-align: center;
}

.socials-list {
    gap: 24px;
    display: flex;
    margin-top: 8px;
    justify-content: center;
}

.socials-item {
    width: 40px;
    height: 40px;
}

.socials-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-link:hover,
.socials-link:focus {
    background-color: #404BBF;
}

.socials-icon {
    fill: #F4F4FD;
}

/* #endregion */

/* #region Portfolio  */

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
}

.portfolio-item {
    flex-basis: calc((100% - 2*24px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover,
.portfolio-item:focus {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-item:hover .overlay-text,
.portfolio-item:focus .overlay-text {
    transform: translateY(0);
}

.overlay-text {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(100%);
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    background-color: #4D5AE5;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-description{
    position: relative;
    overflow: hidden;
}

.portfolio-product {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.product-description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.product-info {
    padding: 32px 16px;
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;}
    /* #endregion */

/* #region Footer */

.page-footer {
    background-color: #2e2f42;
    padding: 100px 0;
}

.footer-content {
    display: flex;
    align-items: baseline;
}

.footer-slogan {
    width: 264px;
    height: 112px;
    margin-right: 120px;
}

.footer-logo .logo-part {
    color: #f4f4fd;
}

.footer-text {
    color: #f4f4fd;
}

.footer-logo .logo-part {
    color: #f4f4fd;
}

.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
}

.footer-text {
    color: #f4f4fd;
    max-width: 264px;
}

.media{
    font-weight: 500;
    color: #fff;
    margin-bottom: 16px;
}

.footer-networks {
    display: block;
    width: 208px;
    height: 80px;
    margin-right: 80px;
}

.footer-socials-list {
    gap: 16px;
    display: flex;
    justify-content: center;
}

.footer-socials-item {
    width: 40px;
    height: 40px;
}

.footer-socials-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-socials-link:hover,
.footer-socials-link:focus {
    background-color: #31D0AA;
}

.footer-socials-icon {
    fill: #F4F4FD;
}

.footer-subscription {
    display: block;
    width: 453px;
    height: 80px;
}
.footer-form {
    display: flex;
    gap: 24px;
    align-items: center;
}

.footer-email{
    border: 1px solid;
    border-color: #FFF;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    outline: transparent;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: transparent;
    padding: 16px;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #FFF;
}
.footer-email::placeholder {
    color: #FFF;
}

.footer-email:focus {
    border-color: #4D5AE5;
}

.footer-button {
    min-width: 165px;
    height: 40px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-sb-icon {
    fill: currentColor;
    margin-left: 16px;
}
/* #endregion */

/* #region Modal */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: rgb(46, 47, 66, 0.4);

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: opacity, visibility;
    transition-delay: 250ms;
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
    transition-delay: 0ms;
}

.modal {
    width:408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
    border-radius: 4px;
    background-color: #FCFCFC;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    /* opacity: 0; */
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    /* transition-property: transform, opacity; */
}

.backdrop.is-open .modal {
    transform: translate(-50%, -50%);
    /* opacity: 1; */
}

.modal-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    cursor: pointer;

    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #E7E9FC;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: background-color, border;
}

.modal-btn svg {
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
    background-color: #404BBF;
    border: none;
}

.modal-btn:hover svg,
.modal-btn:focus svg {
    fill: #FFF;
}

.modal-caption {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: #2E2F42;
    margin-bottom: 16px;
}

.modal-form-field {
    margin-bottom: 8px;
}

.md-form-lbl {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
}

.mdl-frm-wrapper {
    position: relative;
}

.mdl-frm-input {
    display: block;
    width: 100%;
    height: 40px;
    border: 1px solid;
    border-color: #2E2F4266;
    border-radius: 4px;
    outline: transparent;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 11px 38px;
}

.mdl-frm-input:focus {
    border-color:#4D5AE5;
}

.form-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    pointer-events: none;
}

.mdl-frm-input:focus + .form-icon {
    fill: #4D5AE5;
}

.mdl-frm-message{
    resize: none;
    border: 1px solid;
    border-color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    border-radius: 4px;
    width: 100%;
    height: 120px;
    outline: transparent;
    padding: 8px 16px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.mdl-frm-message::placeholder {
    color: rgba(46, 47, 66, 0.4);
}

.mdl-frm-message:focus {
    border-color:#4D5AE5;
}

.comment-field {
    color: rgba(46, 47, 66, 0.4);
}


/* Custom checkbox */
.form-agreement {
    margin-bottom: 24px;
}

.agree-wrap {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
}

.agree-check {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    fill: transparent;

    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: background-color, border, fill;
    cursor: pointer;
}

input[type="checkbox"]:checked + .agree-wrap > .agree-check {
    background-color: #404BBF;
    border: none;
    fill: #F4F4FD;
}

.agreement-link {
    line-height: 1.3;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4D5AE5;
}
/* #endregion */